openapi: 3.0.3

info:
  title: Jayeon API
  version: 0.1.0
  description: |
    Jayeon 백엔드 API.

    ## 이 문서의 위치

    이 파일은 `//go:embed docs/openapi.yaml` 로 바이너리에 박혀 `GET /openapi.yaml` 로
    그대로 나가고, `GET /docs` 의 Swagger UI 가 이것을 읽는다. **파일이 없으면 빌드가 깨진다.**

    지금은 골격만 있다. 어드민 인증 경로는 형태만 적어 둔 스텁이며, 요청·응답 스키마의
    정본은 `internal/admin` 의 핸들러다 — 여기에 상세를 지어 넣으면 구현과 어긋난다.

servers:
  - url: https://jayeon-api.redhead.kr
    description: 운영
  - url: http://localhost:8091
    description: 로컬 개발 (Firestore 에뮬레이터 연동)

security:
  - bearerAuth: []

paths:
  /health:
    get:
      summary: 헬스체크
      security: []
      description: |
        Firestore 왕복만 확인한다. 존재하지 않는 문서(`_health/_probe`)를 3초 제한으로 읽고,
        `NotFound` 면 연결이 정상이라고 본다.

        컨테이너 안에는 같은 핸들러가 `/healthz` 로도 걸려 있지만 **외부에서는 이 경로를 써야 한다** —
        Google Frontend 가 정확히 `/healthz` 를 가로채 자체 404(HTML)를 돌려주기 때문에
        그 경로는 컨테이너까지 오지 않는다.
      operationId: getHealth
      responses:
        '200':
          description: 정상
          content:
            text/plain:
              schema: { type: string }
              example: ok
        '503':
          description: Firestore 연결 실패
          content:
            text/plain:
              schema: { type: string }
              example: firestore unavailable

  # ──────────────────────────────────────────────────────────────
  # 어드민 — 스텁. 정본은 internal/admin 이다.
  # ──────────────────────────────────────────────────────────────
  /auth/admin.login:
    post:
      tags: [admin]
      security: []
      summary: 어드민 로그인
      description: 구현은 internal/admin 참고.
      operationId: adminLogin
      responses:
        '200':
          description: 어드민 토큰 세트
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /auth/admin.change-password:
    post:
      tags: [admin]
      summary: 어드민 비밀번호 변경
      description: 구현은 internal/admin 참고.
      operationId: adminChangePassword
      responses:
        '200':
          description: 변경 완료
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/admins:
    get:
      tags: [admin]
      summary: 어드민 계정 목록
      description: 구현은 internal/admin 참고.
      operationId: listAdmins
      responses:
        '200':
          description: 목록
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }
    post:
      tags: [admin]
      summary: 어드민 계정 생성
      description: 구현은 internal/admin 참고.
      operationId: createAdmin
      responses:
        '200':
          description: 생성된 계정
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/admins/{adminId}:
    parameters:
      - name: adminId
        in: path
        required: true
        description: 어드민 계정 문서 ID
        schema: { type: string, minLength: 1 }
    patch:
      tags: [admin]
      summary: 어드민 계정 수정
      description: 구현은 internal/admin 참고.
      operationId: updateAdmin
      responses:
        '200':
          description: 수정된 계정
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/audit-logs:
    get:
      tags: [admin]
      summary: 감사 로그 조회
      description: 구현은 internal/admin 참고.
      operationId: listAuditLogs
      responses:
        '200':
          description: 감사 로그 목록
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

tags:
  - name: admin
    description: 어드민 인증과 계정·감사 로그. `ADMIN_JWT_SECRET` 이 없으면 라우트가 아예 걸리지 않는다

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        액세스 토큰(Bearer). 사용자 토큰과 어드민 토큰은 **서로 다른 시크릿으로 서명한다** —
        `ADMIN_JWT_SECRET` 이 `JWT_SECRET` 과 같으면 어드민 토큰이 사용자 미들웨어에서도
        파싱되므로 서버가 기동을 거부한다.

  responses:
    BadRequest:
      description: 요청 형식 또는 값 검증 실패
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { code: VALIDATION_FAILED, message: 요청 값이 올바르지 않아요 }
    Unauthorized:
      description: 토큰이 없거나 유효하지 않음
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { code: UNAUTHORIZED, message: 로그인이 필요해요 }
    InternalError:
      description: 서버 내부 오류
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { code: INTERNAL_ERROR, message: 서버 오류가 생겼어요 }

  schemas:
    # ---------- 공통 ----------
    # 이 스키마는 Go 의 httpx.Error 와 **1:1 대응한다**(internal/httpx/httpx.go).
    # 필드 이름이나 형태가 한쪽만 바뀌면 SPA 가 에러 본문을 못 읽어 모든 실패가
    # 「알 수 없는 오류」로 뭉개진다 — 고칠 때는 두 곳을 같이 고쳐라.
    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: |
            기계 판독용 에러 코드. 클라이언트는 이 값으로 분기하고 `message` 는 그대로 표시한다.
            공통 코드는 `VALIDATION_FAILED` · `UNAUTHORIZED` · `INTERNAL_ERROR` 이며,
            도메인별 코드는 각 핸들러가 더한다.
          example: VALIDATION_FAILED
        message:
          type: string
          description: 사용자에게 그대로 보여줄 수 있는 한국어 문구
          example: 요청 값이 올바르지 않아요
        details:
          type: object
          nullable: true
          additionalProperties: true
          description: 필드별 위반 내역 등 부가 정보

    Timestamp:
      type: string
      format: date-time
      description: RFC 3339. 서버가 `ServerTimestamp` 로 기록한 값
