openapi: 3.0.3

info:
  title: Jayeon API
  version: 0.1.0
  description: |
    Jayeon 백엔드 API.

    ## 이 문서의 위치

    이 파일은 `//go:embed docs/openapi.yaml` 로 바이너리에 박혀 `GET /openapi.yaml` 로
    그대로 나가고, `GET /docs` 의 Swagger UI 가 이것을 읽는다. **파일이 없으면 빌드가 깨진다.**

    사용자 인증은 초대 전용 이메일·비밀번호 방식이다. 어드민 경로는 스텁이며, 요청·응답 스키마의
    정본은 `internal/admin` 의 핸들러다 — 여기에 상세를 지어 넣으면 구현과 어긋난다.

servers:
  - url: https://jayeon-api.redhead.kr
    description: 운영
  - url: http://localhost:8091
    description: 로컬 개발 (Firestore 에뮬레이터 연동)

security:
  - bearerAuth: []

paths:
  /health:
    get:
      summary: 헬스체크
      security: []
      description: |
        Firestore 왕복만 확인한다. 존재하지 않는 문서(`_health/_probe`)를 3초 제한으로 읽고,
        `NotFound` 면 연결이 정상이라고 본다.

        컨테이너 안에는 같은 핸들러가 `/healthz` 로도 걸려 있지만 **외부에서는 이 경로를 써야 한다** —
        Google Frontend 가 정확히 `/healthz` 를 가로채 자체 404(HTML)를 돌려주기 때문에
        그 경로는 컨테이너까지 오지 않는다.
      operationId: getHealth
      responses:
        '200':
          description: 정상
          content:
            text/plain:
              schema: { type: string }
              example: ok
        '503':
          description: Firestore 연결 실패
          content:
            text/plain:
              schema: { type: string }
              example: firestore unavailable

  /auth/login:
    post:
      tags: [auth]
      security: []
      summary: 초대 계정 로그인
      operationId: userLogin
      description: 계정 없음과 비밀번호 불일치는 동일한 INVALID_CREDENTIALS 응답이다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        '200':
          description: 로그인 성공. 첫 로그인에서는 비밀번호 변경이 필요하다.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/TokenSet'
                  - type: object
                    required: [mustChangePassword]
                    properties:
                      mustChangePassword: { type: boolean }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/InvalidCredentials' }
        '403': { $ref: '#/components/responses/AccountDisabled' }
        '500': { $ref: '#/components/responses/InternalError' }

  /auth/refresh:
    post:
      tags: [auth]
      security: []
      summary: 사용자 토큰 재발급
      operationId: refreshUserTokens
      description: |
        리프레시 토큰의 버전과 계정의 현재 버전을 대조한다.
        비밀번호 변경 이전에 발급한 리프레시 토큰은 401로 거절한다.
        재발급 자체가 이전 리프레시 토큰을 폐기하지는 않는다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        '200':
          description: 새 토큰 세트 (mustChangePassword 필드는 없음)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenSet' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/AccountDisabled' }
        '500': { $ref: '#/components/responses/InternalError' }

  /auth/change-password:
    post:
      tags: [auth]
      summary: 사용자 비밀번호 변경
      operationId: changeUserPassword
      description: |
        새 비밀번호는 8자 이상, UTF-8 기준 72바이트 이하여야 하며 현재 비밀번호와 달라야 한다.
        해시 교체, 토큰 버전 증가, mustChangePassword 해제를 함께 저장한다.
        기존 리프레시 토큰은 무효가 되므로 변경 후 다시 로그인한다.
        이미 발급한 액세스 토큰은 최대 1시간 더 유효하다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword]
              properties:
                currentPassword: { type: string, format: password }
                newPassword: { type: string, format: password, minLength: 8 }
      responses:
        '204': { description: 변경 완료 (본문 없음) }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: UNAUTHORIZED (미인증) 또는 INVALID_CREDENTIALS (현재 비밀번호 불일치)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403': { $ref: '#/components/responses/AccountDisabled' }
        '500': { $ref: '#/components/responses/InternalError' }

  /users/me:
    get:
      tags: [users]
      summary: 로그인한 사용자 프로필
      operationId: getCurrentUser
      responses:
        '200':
          description: 비밀번호 변경 필요 여부의 정본
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserProfile' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/AccountDisabled' }
        '500': { $ref: '#/components/responses/InternalError' }

  # ──────────────────────────────────────────────────────────────
  # 어드민 — 스텁. 정본은 internal/admin 이다.
  # ──────────────────────────────────────────────────────────────
  /auth/admin.login:
    post:
      tags: [admin]
      security: []
      summary: 어드민 로그인
      description: 구현은 internal/admin 참고.
      operationId: adminLogin
      responses:
        '200':
          description: 어드민 토큰 세트
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /auth/admin.change-password:
    post:
      tags: [admin]
      summary: 어드민 비밀번호 변경
      description: 구현은 internal/admin 참고.
      operationId: adminChangePassword
      responses:
        '200':
          description: 변경 완료
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/admins:
    get:
      tags: [admin]
      summary: 어드민 계정 목록
      description: 구현은 internal/admin 참고.
      operationId: listAdmins
      responses:
        '200':
          description: 목록
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }
    post:
      tags: [admin]
      summary: 어드민 계정 생성
      description: 구현은 internal/admin 참고.
      operationId: createAdmin
      responses:
        '200':
          description: 생성된 계정
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/admins/{adminId}:
    parameters:
      - name: adminId
        in: path
        required: true
        description: 어드민 계정 문서 ID
        schema: { type: string, minLength: 1 }
    patch:
      tags: [admin]
      summary: 어드민 계정 수정
      description: 구현은 internal/admin 참고.
      operationId: updateAdmin
      responses:
        '200':
          description: 수정된 계정
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/audit-logs:
    get:
      tags: [admin]
      summary: 감사 로그 조회
      description: 구현은 internal/admin 참고.
      operationId: listAuditLogs
      responses:
        '200':
          description: 감사 로그 목록
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

tags:
  - name: auth
    description: 초대 전용 사용자 인증. 공개 가입과 비밀번호 찾기 API는 제공하지 않는다.
  - name: users
    description: 사용자 프로필
  - name: admin
    description: 어드민 인증과 계정·감사 로그. `ADMIN_JWT_SECRET` 이 없으면 라우트가 아예 걸리지 않는다

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        액세스 토큰(Bearer). 사용자 토큰과 어드민 토큰은 **서로 다른 시크릿으로 서명한다** —
        `ADMIN_JWT_SECRET` 이 `JWT_SECRET` 과 같으면 어드민 토큰이 사용자 미들웨어에서도
        파싱되므로 서버가 기동을 거부한다.

  responses:
    InvalidCredentials:
      description: 이메일 또는 비밀번호 불일치
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { code: INVALID_CREDENTIALS, message: 이메일 또는 비밀번호가 맞지 않아요 }
    AccountDisabled:
      description: 비활성 계정
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { code: ACCOUNT_DISABLED, message: 사용할 수 없는 계정이에요 }
    BadRequest:
      description: 요청 형식 또는 값 검증 실패
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { code: VALIDATION_FAILED, message: 요청 값이 올바르지 않아요 }
    Unauthorized:
      description: 토큰이 없거나 유효하지 않음
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { code: UNAUTHORIZED, message: 로그인이 필요해요 }
    InternalError:
      description: 서버 내부 오류
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { code: INTERNAL_ERROR, message: 서버 오류가 생겼어요 }

  schemas:
    TokenSet:
      type: object
      required: [accessToken, refreshToken, expiresInSec]
      properties:
        accessToken: { type: string, description: 1시간 유효한 액세스 토큰 }
        refreshToken: { type: string, description: 90일 유효한 리프레시 토큰 }
        expiresInSec: { type: integer, example: 3600 }
    UserProfile:
      type: object
      required: [userId, email, userName, mustChangePassword, createdAt]
      properties:
        userId: { type: string }
        email: { type: string, format: email }
        userName: { type: string }
        mustChangePassword: { type: boolean }
        createdAt: { $ref: '#/components/schemas/Timestamp' }
    # ---------- 공통 ----------
    # 이 스키마는 Go 의 httpx.Error 와 **1:1 대응한다**(internal/httpx/httpx.go).
    # 필드 이름이나 형태가 한쪽만 바뀌면 SPA 가 에러 본문을 못 읽어 모든 실패가
    # 「알 수 없는 오류」로 뭉개진다 — 고칠 때는 두 곳을 같이 고쳐라.
    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: |
            기계 판독용 에러 코드. 클라이언트는 이 값으로 분기하고 `message` 는 그대로 표시한다.
            공통 코드는 `VALIDATION_FAILED` · `UNAUTHORIZED` · `INTERNAL_ERROR` 이며,
            사용자 인증은 `INVALID_CREDENTIALS` · `ACCOUNT_DISABLED`를 더한다.
            `TOO_MANY_ATTEMPTS`는 향후 시도 제한용 429 예약 코드다. 현재 제한은 구현하지 않았으며,
            구현 시 `details`에 남은 초를 담는다.
          example: VALIDATION_FAILED
        message:
          type: string
          description: 사용자에게 그대로 보여줄 수 있는 한국어 문구
          example: 요청 값이 올바르지 않아요
        details:
          type: object
          nullable: true
          additionalProperties: true
          description: 필드별 위반 내역 등 부가 정보

    Timestamp:
      type: string
      format: date-time
      description: RFC 3339. 서버가 `ServerTimestamp` 로 기록한 값
