openapi: 3.0.3

info:
  title: Nature API
  version: 0.1.0
  description: |
    Nature 백엔드 API.

    ## 이 문서의 위치

    이 파일은 `//go:embed docs/openapi.yaml` 로 바이너리에 박혀 `GET /openapi.yaml` 로
    그대로 나가고, `GET /docs` 의 Swagger UI 가 이것을 읽는다. **파일이 없으면 빌드가 깨진다.**

    사용자 인증은 초대 전용 이메일·비밀번호 방식이다. 어드민 경로는 스텁이며, 요청·응답 스키마의
    정본은 `internal/admin` 의 핸들러다 — 여기에 상세를 지어 넣으면 구현과 어긋난다.

servers:
  - url: https://nature-api.redhead.kr
    description: 운영
  - url: http://localhost:8091
    description: 로컬 개발 (Firestore 에뮬레이터 연동)

security:
  - bearerAuth: []

paths:
  /calls:
    get:
      tags: [calls]
      operationId: listCallAnalyses
      summary: 이름 또는 전화번호 뒷자리로 검색하는 통화 목록
      description: >-
        사용자 소유 통화만 통화일시(recorded_at) 내림차순, 같은 시각이면 통화 ID 내림차순으로 반환한다.
        목록 항목에는 transcript 와 analysis 가 없고 160자 한 줄 요약만 들어 있다.


        `q` 는 **이름 부분일치(대소문자 무시) 또는 전화번호 부분일치(뒷자리 포함)** 다.
        하이픈·공백·괄호·`+82` 표기 차이는 양쪽 모두 걷어 내고 숫자만 비교한다.
        글자와 숫자가 섞이면 글자는 이름, 숫자는 번호를 가리킨다(`김영 7649`).
        규칙은 앱의 `src/lib/recipient-search.ts` 와 같고 서버는 `internal/recipients/search.go` 한 곳에 둔다.


        🔴 **검색 중에는 items 가 limit 보다 적어도 마지막 페이지가 아니다.**
        Firestore 는 부분 문자열 검색을 인덱스로 못 하므로 서버가 최신순으로 문서를 읽어 메모리에서 거르고,
        한 요청이 훑는 문서 수에 상한(300건)을 둔다. 상한에 걸리면 **찾은 만큼만 돌려주고 nextCursor 를 남긴다**.
        따라서 클라이언트는 `nextCursor` 가 사라질 때까지(또는 화면이 찰 때까지) 이어 불러야 한다.
        `nextCursor` 가 없을 때만 마지막 페이지다.


        커서는 **검색어에 귀속된다.** `q` 를 바꾸면서 이전 커서를 그대로 보내면 400 이다(커서를 버리고 처음부터 다시 부른다).
      parameters:
        - {in: query, name: q, description: '이름 또는 전화번호 뒷자리. 없거나 비어 있으면 전체.', schema: {type: string, maxLength: 100}}
        - {in: query, name: limit, description: '페이지 크기. 서버가 1~100 으로 제한한다.', schema: {type: integer, minimum: 1, maximum: 100, default: 30}}
        - {in: query, name: cursor, description: 이전 응답의 nextCursor 를 그대로 보낸다, schema: {type: string, maxLength: 2048}}
      responses:
        '200':
          description: 통화 목록 (페이지당 최대 limit 건)
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items: {type: array, maxItems: 100, items: {$ref: '#/components/schemas/CallSummary'}}
                  nextCursor: {type: string, description: '없으면 마지막 페이지. 검색 중에는 items 가 limit 보다 적어도 남을 수 있다(스캔 상한).'}
        '400': {description: '커서·limit·검색어 형식 오류'}
        '401': {description: 인증 필요}
        '403': {description: 비활성 또는 비밀번호 변경 필요 계정}
  /calls/{id}:
    parameters:
      - {in: path, name: id, required: true, schema: {type: string, pattern: '^[a-zA-Z0-9_-]{1,128}$'}}
    get:
      tags: [calls]
      operationId: getCallAnalysis
      summary: 저장된 통화 분석과 원문 조회
      responses:
        '200':
          description: 전체 통화 분석 (추론 재실행 없음)
          content:
            application/json:
              schema: {$ref: '#/components/schemas/CallDetail'}
        '401': {description: 인증 필요}
        '404': {description: 본인 소유 통화 없음}
    put:
      tags: [calls]
      operationId: saveCallAnalysis
      summary: 기기에서 완료한 통화 분석 저장
      description: >-
        요청 본문 최대 6 MiB. transcript, analysis, ai 필수. 같은 ID 와 정규화된 동일 결과 재전송은 멱등이고
        다른 결과는 409 다. 서버가 status 를 COMPLETED 로 확정한다. 원본 음성은 수신하지 않는다.
        recorded_at 은 서버 시각 기준 5분 뒤까지만 허용한다(기기 시계 오차 여유).
        processed_on_device=true 필수.
        **응답은 목록용 요약(CallSummary)이며 보낸 transcript/analysis 를 되돌려주지 않는다** —
        요청 본문을 한 벌 더 직렬화하지 않기 위해서다. 원본은 클라이언트가 이미 갖고 있다.
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CallInput'}
      responses:
        '200':
          description: 저장 완료 (요약만 반환)
          content:
            application/json:
              schema: {$ref: '#/components/schemas/CallSummary'}
        '400': {description: 형식 또는 값 검증 실패. 같은 본문을 다시 보내도 결과는 같다}
        '401': {description: 인증 필요}
        '409': {description: 동일 ID 에 다른 결과 존재}
        '413': {description: '요청 본문 또는 저장 바이트가 한도를 넘음(CALL_TOO_LARGE). 재시도해도 소용없다'}
  /calls/{id}/audio/upload-url:
    parameters:
      - {in: path, name: id, required: true, schema: {type: string, pattern: '^[a-zA-Z0-9_-]{1,128}$'}}
    post:
      tags: [calls]
      operationId: createCallAudioUploadURL
      summary: 녹음 파일 업로드용 서명 URL 발급
      description: >-
        서버 통화분석 경로의 첫 단계다. 작업 문서를 AWAITING_UPLOAD 로 만들고 GCS V4 서명 PUT URL 을 돌려준다.
        **서버는 오디오 바이트를 통과시키지 않는다** — 앱이 이 URL 로 GCS 에 직접 올린다.


        🔴 **PUT 할 때 응답의 headers["Content-Type"] 을 글자 그대로 똑같이 보내야 한다.**
        Content-Type 이 서명에 들어가므로 다르면 GCS 가 403 SignatureDoesNotMatch 를 돌려주는데
        응답만 봐서는 원인이 전혀 드러나지 않는다.


        객체 경로는 결정적이다(`calls/{uid}/{callId}/audio{ext}`). complete 전이라면 몇 번이든 다시 불러도
        같은 경로에 새 URL 이 발급된다 — 재시도마다 고아 객체가 생기지 않게 하기 위해서다.
        진행률과 취소는 단순 PUT 으로 가능하다(XMLHttpRequest.upload.onprogress / xhr.abort).
        resumable 업로드는 지원하지 않는다.
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CallAudioUploadRequest'}
      responses:
        '200':
          description: 서명 URL
          content:
            application/json:
              schema: {$ref: '#/components/schemas/CallAudioUploadURL'}
        '400': {description: 형식/크기/연락처 검증 실패}
        '401': {description: 인증 필요}
        '404': {description: 다른 사용자의 통화 ID (존재 사실을 알려주지 않는다)}
        '409': {description: '이미 분석이 시작된 통화(CALL_ALREADY_QUEUED). 오디오를 갈아 끼우면 전사문과 원본이 어긋난다'}
        '500': {description: '서명 실패. 운영에서는 대개 iam.serviceAccounts.signBlob 권한 문제이며 원인은 서버 로그에만 남는다'}
  /calls/{id}/audio/complete:
    parameters:
      - {in: path, name: id, required: true, schema: {type: string, pattern: '^[a-zA-Z0-9_-]{1,128}$'}}
    post:
      tags: [calls]
      operationId: completeCallAudioUpload
      summary: 업로드 완료 통보 및 분석 큐잉
      description: >-
        GCS 객체의 존재와 크기를 확인하고 작업을 큐에 넣는다.
        이때 **플레이스홀더 통화 레코드가 생겨** 이후 진행 상태가 기존 GET /calls, GET /calls/{id} 로 그대로 보인다.
        이미 큐잉된 통화에 다시 불러도 200 과 현재 상태를 돌려준다(앱 재시도 대비).


        🔴 **본문은 선택이다. 없거나 빈 객체인 요청은 지금까지와 한 글자도 다르게 동작하지 않는다**
        — 구버전 앱과 웹이 바디 없이 부르고 있고, 사용자가 로컬 받아쓰기를 끄면 서버 받아쓰기로
        그대로 돌아가는 것이 이 기능의 안전망이다.


        `asr: "client"` 를 보내면 **서버가 받아쓰지 않는다.** 작업은 job_state=ASR_RUNNING,
        stage=「기기에서 받아쓰는 중」으로 서서 폰이 `POST /calls/{id}/transcript` 로 전사문을
        올릴 때까지 기다린다(그동안 tick 은 이 작업을 집지 않는다).
        오디오 원본은 두 경우 모두 그대로 GCS 에 올라간다 — 재생 기능이 그것을 쓴다.


        ⚠️ `asr` 값이 `server`/`client` 가 아니면 400 이다. 모르는 값을 서버 받아쓰기로 눙치면
        앱의 오타가 **요금이 나가는 쪽으로 조용히 흐른다.**
      requestBody:
        required: false
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CallAudioCompleteRequest'}
      responses:
        '200':
          description: 현재 작업 상태(요약 레코드)
          content:
            application/json:
              schema: {$ref: '#/components/schemas/CallSummary'}
        '400': {description: '업로드가 끝나지 않았거나 크기가 비정상(CALL_AUDIO_MISSING), 또는 asr 값이 잘못됨'}
        '401': {description: 인증 필요}
        '404': {description: 본인 소유 작업 없음}
        '409': {description: 'upload-url 을 먼저 받지 않았다(CALL_NO_AUDIO)'}
  /calls/{id}/transcript:
    parameters:
      - {in: path, name: id, required: true, schema: {type: string, pattern: '^[a-zA-Z0-9_-]{1,128}$'}}
    post:
      tags: [calls]
      operationId: putCallClientTranscript
      summary: 기기에서 받아쓴 전사문 전달 (로컬 받아쓰기 경로)
      description: >-
        폰이 whisper 로 받아쓴 전사문을 서버에 넘겨 **분석 단계부터** 이어가게 한다.
        `POST /calls/{id}/audio/complete` 를 `{"asr":"client"}` 로 부른 통화에서만 쓴다.


        🔴 **분석 파이프라인은 서버 받아쓰기와 같은 것을 쓴다.** 전사문을 저장하고 job_state 를
        TRANSCRIBED 로 놓으면 그 뒤는 tick 이 이어받는다(reanalyze 와 같은 지점이다).
        응답은 `POST /calls/{id}/reanalyze` 와 같은 요약 레코드이며 status 는 ANALYZING 이다.


        🔴 **받아쓰기 원가는 0원이다.** 서버가 ASR 공급자를 한 번도 부르지 않았으므로
        상세 응답의 `cost.transcription` 과 `cost.usage.audio_seconds` 가 0 으로 나간다.
        분석(LLM) 비용은 서버 경로와 똑같이 든다.


        ⚠️ **같은 요청을 두 번 보내도 안전하다.** 이미 전사문을 받은 작업(TRANSCRIBED/ANALYZING/
        ANALYSIS_FAILED)에 다시 보내면 원문을 갈아 끼우지 않고 현재 상태를 200 으로 돌려준다 —
        앱이 응답을 못 받고 재시도하는 경우가 실제로 있다.
        기기 받아쓰기가 6시간 안에 돌아오지 않아 정리된 통화(TRANSCRIPTION_FAILED /
        CLIENT_TRANSCRIPT_TIMEOUT)에는 늦게라도 받아 준다 — 거절하면 원문이 요청 본문에 있는데도
        그 통화는 원문도 분석도 없이 실패로만 남는다.


        본문은 CallTranscript 이며 최대 6 MiB, 검증 규칙은 `PUT /calls/{id}` 의 transcript 와 같다.
        모르는 필드는 무시한다. `segments` 를 생략하면 빈 배열로 본다.
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CallTranscript'}
      responses:
        '200':
          description: 분석 예약됨(요약 레코드). 중복 요청도 여기로 온다
          content:
            application/json:
              schema: {$ref: '#/components/schemas/CallSummary'}
        '400': {description: '원문이 비었거나(CALL_EMPTY_TRANSCRIPT) 형식 검증 실패(VALIDATION_FAILED)'}
        '401': {description: 인증 필요}
        '404': {description: '본인 소유 작업 없음(남의 통화 ID 도 404 다 — 존재 사실을 알려주지 않는다)'}
        '409': {description: '서버가 받아쓰는 통화다(CALL_NOT_CLIENT_ASR) 또는 이미 분석이 끝났다(CALL_ALREADY_COMPLETED — 다시 분석하려면 reanalyze 를 쓴다)'}
        '413': {description: '전사문이 저장 한도를 넘음(CALL_TOO_LARGE). 재시도해도 소용없다'}
  /calls/{id}/reanalyze:
    parameters:
      - {in: path, name: id, required: true, schema: {type: string, pattern: '^[a-zA-Z0-9_-]{1,128}$'}}
    post:
      tags: [calls]
      operationId: reanalyzeCall
      summary: 전사문을 그대로 두고 분석만 다시 실행
      description: >-
        **오디오를 다시 전사하지 않는다** — ASR 이 가장 비싼 단계이고 재분석이 필요한 이유는 대개 프롬프트 변경이나 LLM 실패다.
        따라서 보관 기간(366일)이 지나 원본 오디오가 사라진 뒤에도 동작한다.
        작업이 COMPLETED / ANALYSIS_FAILED / TRANSCRIBED 이고 전사문이 있어야 한다. 본문은 없다.
      responses:
        '200':
          description: 재분석 예약됨(요약 레코드)
          content:
            application/json:
              schema: {$ref: '#/components/schemas/CallSummary'}
        '401': {description: 인증 필요}
        '404': {description: 본인 소유 작업 없음}
        '409': {description: '분석 가능한 상태가 아니거나(CALL_NOT_ANALYZABLE) 다시 분석할 원문이 없다(CALL_NO_TRANSCRIPT)'}
  /internal/calls/tick:
    post:
      tags: [calls]
      operationId: runCallPipelineTick
      summary: 통화분석 파이프라인 구동 (Cloud Scheduler 전용)
      description: >-
        🔴 **앱이 부르는 API 가 아니다.** Cloud Scheduler 가 1분마다 OIDC 토큰으로 호출한다.
        Cloud Run 이 allow_unauthenticated 라 **이 핸들러가 유일한 방어선**이며, 검증 항목은 네 개다:
        ①구글 서명 ②aud 일치(Cloud Run 서비스 URL, 경로 없음) ③email 이 CALL_TICK_CALLER 와 일치 ④email_verified == true.
        실패 이유는 응답에 적지 않는다.


        한 요청이 50초 예산 안에서 작업을 여러 단계 전진시키고, 못 끝낸 것은 상태로 저장해 다음 tick 에 넘긴다.
        **응답 후 도는 백그라운드 작업은 없다**(Cloud Run cpu_idle=true 라 응답 직후 CPU 가 스로틀된다).
        응답에는 개수와 남은 예산만 들어가며 통화 내용은 한 글자도 담기지 않는다.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 이번 tick 결과
          content:
            application/json:
              schema: {$ref: '#/components/schemas/CallTickResult'}
        '401': {description: 허용되지 않은 호출자}
  /recipients/{id}/external-sends:
    post:
      tags: [recipients]
      operationId: registerExternalSend
      summary: 실제 전송 없이 외부 발송일시 1건 등록
      description: 사용자별 requestId 멱등 처리. 미래 일시 거부. 수신자 집계와 EXTERNAL 이력을 원자적으로 저장한다.
      parameters:
        - in: path
          name: id
          required: true
          schema: {type: string}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [requestId, sentAt]
              properties:
                requestId: {type: string, minLength: 8, maxLength: 128, pattern: '^[A-Za-z0-9_-]+$'}
                sentAt: {type: string, format: date-time}
      responses:
        '201':
          description: 외부 발송 등록
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ExternalSendResult'}
        '200':
          description: 동일 요청의 기존 결과
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ExternalSendResult'}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: 소유 수신자 없음
        '409':
          description: IDEMPOTENCY_CONFLICT 같은 요청 ID의 내용 변경
  /sms/history:
    get:
      tags: [messaging]
      operationId: listSmsHistory
      summary: 수신자 이름 또는 전화번호 뒷자리로 검색하는 전체 발송이력
      description: >-
        SENT·FAILED 완료 시도와 현재 SENDING 시도. 발송시각 내림차순 후 고유 ID 내림차순. READY 제외.
        사용자 및 검색어에 귀속된 커서.
        `q` 는 GET /calls 와 **같은 규칙**이다 — 이름 부분일치(대소문자 무시) 또는 전화번호 부분일치(뒷자리 포함),
        하이픈·공백·괄호·`+82` 표기 차이는 숫자만 남겨 비교한다.
      parameters:
        - in: query
          name: q
          description: '이름 또는 전화번호 뒷자리. 없거나 비어 있으면 전체.'
          schema: {type: string, maxLength: 100}
        - in: query
          name: limit
          schema: {type: integer, minimum: 1, maximum: 100, default: 50}
        - in: query
          name: cursor
          schema: {type: string}
      responses:
        '200':
          description: 최신 발송순 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: {$ref: '#/components/schemas/RecipientHistory'}
                  nextCursor: {type: string, nullable: true}
                  total: {type: integer}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /sms/attachments:
    post:
      tags:
      - messaging
      summary: JPEG/PNG 업로드 개별700KiB(저장 한도, 발송 한도는 단말·통신사가 별도)
      responses:
        '201':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageAttachment'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageUpload'
  /sms/attachments/{id}:
    get:
      tags:
      - messaging
      summary: 첨부 메타데이터
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageAttachment'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    delete:
      tags:
      - messaging
      summary: 첨부 논리삭제 기존 스냅샷 유지
      responses:
        '204':
          description: 성공
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  /sms/attachments/{id}/content:
    get:
      tags:
      - messaging
      summary: 첨부 원본 JSON
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/MessageAttachment'
                - type: object
                  properties:
                    dataBase64:
                      type: string
                      format: byte
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  /sms/templates:
    get:
      tags:
      - messaging
      summary: 템플릿 목록
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/MessageTemplate'
                  nextCursor:
                    type: string
                    nullable: true
    post:
      tags:
      - messaging
      summary: 템플릿 등록 최대3개 총1400KiB(저장 한도)
      responses:
        '201':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageTemplate'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageTemplateInput'
  /sms/templates/{id}:
    get:
      tags:
      - messaging
      summary: 템플릿 조회
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageTemplate'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    put:
      tags:
      - messaging
      summary: 템플릿 수정
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageTemplate'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageTemplateInput'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    delete:
      tags:
      - messaging
      summary: 템플릿 삭제
      responses:
        '204':
          description: 성공
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  /recipients/{id}/history:
    get:
      tags:
      - messaging
      summary: 수신자 발송이력 최신순
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecipientHistory'
                  nextCursor:
                    type: string
                    nullable: true
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  /recipients/imports/preview:
    post:
      tags:
      - messaging
      summary: xlsx 2MiB 사전검증(행 수 제한 없음, 청크 저장) 이름과 전화번호 또는 연락처 필수, 그룹 선택
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientImport'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageUpload'
  /recipients/imports/{id}/confirm:
    post:
      tags:
      - messaging
      summary: 24시간내 import 확정 중복재검증 멱등
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientImport'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  /recipients:
    get:
      tags:
        - recipients
      operationId: listRecipients
      summary: 수신자 검색
      responses:
        "200":
          description: 수신자 검색
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecipientPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: ACCOUNT_DISABLED 또는 PASSWORD_CHANGE_REQUIRED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "NOT_FOUND: 내 데이터가 아니거나 없음"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: STATE_CONFLICT, PHONE_ALREADY_EXISTS 또는 IDEMPOTENCY_CONFLICT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
      parameters:
        - in: query
          name: includeSent
          description: false면 SENT 이력이 없는 수신자만
          schema:
            type: boolean
            default: true
        - name: q
          in: query
          schema:
            type: string
        - name: groupId
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      description: 이름/국내 번호 부분검색. 이름과 ID 오름차순으로 정렬하며 현재 필터 전체 total과 nextCursor를 반환한다.
    post:
      tags:
        - recipients
      operationId: createRecipient
      summary: 수신자 등록
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - phone
              properties:
                customFields:
                  type: array
                  maxItems: 20
                  description: 헤더 원본 순서 유지, 전체 UTF-8 JSON 2000bytes 이하
                  items:
                    type: object
                    required: [name, value]
                    properties:
                      name:
                        type: string
                        minLength: 1
                        maxLength: 100
                      value:
                        type: string
                        maxLength: 1000
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                phone:
                  type: string
                groupId:
                  type: string
                  maxLength: 100
      responses:
        "201":
          description: 수신자 등록
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipient"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: ACCOUNT_DISABLED 또는 PASSWORD_CHANGE_REQUIRED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "NOT_FOUND: 내 데이터가 아니거나 없음"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: STATE_CONFLICT, PHONE_ALREADY_EXISTS 또는 IDEMPOTENCY_CONFLICT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
  /recipients/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    put:
      tags:
        - recipients
      operationId: updateRecipient
      summary: 수신자 수정
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - phone
              properties:
                customFields:
                  type: array
                  maxItems: 20
                  description: 헤더 원본 순서 유지, 전체 UTF-8 JSON 2000bytes 이하
                  items:
                    type: object
                    required: [name, value]
                    properties:
                      name:
                        type: string
                        minLength: 1
                        maxLength: 100
                      value:
                        type: string
                        maxLength: 1000
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                phone:
                  type: string
                groupId:
                  type: string
                  maxLength: 100
      responses:
        "200":
          description: 수신자 수정
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipient"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: ACCOUNT_DISABLED 또는 PASSWORD_CHANGE_REQUIRED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "NOT_FOUND: 내 데이터가 아니거나 없음"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: STATE_CONFLICT, PHONE_ALREADY_EXISTS 또는 IDEMPOTENCY_CONFLICT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      tags:
        - recipients
      operationId: deleteRecipient
      summary: 수신자 삭제 (과거 snapshot 유지)
      responses:
        "204":
          description: 수신자 삭제 (과거 snapshot 유지)
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: ACCOUNT_DISABLED 또는 PASSWORD_CHANGE_REQUIRED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "NOT_FOUND: 내 데이터가 아니거나 없음"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: STATE_CONFLICT, PHONE_ALREADY_EXISTS 또는 IDEMPOTENCY_CONFLICT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
  /sms/campaigns:
    post:
      tags:
        - sms
      operationId: createSmsCampaign
      summary: SMS 캠페인 snapshot 생성
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSmsCampaign"
      responses:
        "200":
          description: 동일 requestId 재요청
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SmsCampaign"
        "201":
          description: SMS 캠페인 snapshot 생성
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SmsCampaign"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: ACCOUNT_DISABLED 또는 PASSWORD_CHANGE_REQUIRED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "NOT_FOUND: 내 데이터가 아니거나 없음"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: STATE_CONFLICT, PHONE_ALREADY_EXISTS 또는 IDEMPOTENCY_CONFLICT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
      description: requestId를 최초 생성 후 보존한다. 동일 입력 재요청은200 같은 캠페인, 다른 입력은409. 수신자1~50명. reserved는 예약으로 만든 문자만 true로 보낸다.
    get:
      tags:
        - sms
      operationId: listSmsCampaigns
      summary: 캠페인 이력
      responses:
        "200":
          description: 캠페인 이력
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SmsCampaignPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: ACCOUNT_DISABLED 또는 PASSWORD_CHANGE_REQUIRED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "NOT_FOUND: 내 데이터가 아니거나 없음"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: STATE_CONFLICT, PHONE_ALREADY_EXISTS 또는 IDEMPOTENCY_CONFLICT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
  /sms/campaigns/{campaignId}:
    parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - sms
      operationId: getSmsCampaign
      summary: 캠페인 진행상태
      responses:
        "200":
          description: 캠페인 진행상태
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SmsCampaign"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: ACCOUNT_DISABLED 또는 PASSWORD_CHANGE_REQUIRED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "NOT_FOUND: 내 데이터가 아니거나 없음"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: STATE_CONFLICT, PHONE_ALREADY_EXISTS 또는 IDEMPOTENCY_CONFLICT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
  /sms/campaigns/{campaignId}/recipients:
    parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - sms
      operationId: listSmsCampaignRecipients
      summary: 발송 대상 snapshot 및 상태
      responses:
        "200":
          description: 발송 대상 snapshot 및 상태
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  items:
                    type: array
                    maxItems: 50
                    items:
                      $ref: "#/components/schemas/SmsCampaignRecipient"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: ACCOUNT_DISABLED 또는 PASSWORD_CHANGE_REQUIRED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "NOT_FOUND: 내 데이터가 아니거나 없음"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: STATE_CONFLICT, PHONE_ALREADY_EXISTS 또는 IDEMPOTENCY_CONFLICT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
  /sms/campaigns/{campaignId}/start:
    parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - sms
      operationId: startSmsCampaign
      summary: 명시적 발송 시작/계속 보내기
      responses:
        "200":
          description: 명시적 발송 시작/계속 보내기
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SmsCampaign"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: ACCOUNT_DISABLED 또는 PASSWORD_CHANGE_REQUIRED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "NOT_FOUND: 내 데이터가 아니거나 없음"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: STATE_CONFLICT, PHONE_ALREADY_EXISTS 또는 IDEMPOTENCY_CONFLICT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
      description: READY 또는 CANCELLED 캠페인을 SENDING으로 변경. 기존 SENDING이면 멱등 응답. READY 대상이
        없으면409. 앱 기동시 자동 호출하지 않는다.
  /sms/campaigns/{campaignId}/cancel:
    parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - sms
      operationId: cancelSmsCampaign
      summary: 후속 발송 중지
      responses:
        "200":
          description: 후속 발송 중지
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SmsCampaign"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: ACCOUNT_DISABLED 또는 PASSWORD_CHANGE_REQUIRED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "NOT_FOUND: 내 데이터가 아니거나 없음"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: STATE_CONFLICT, PHONE_ALREADY_EXISTS 또는 IDEMPOTENCY_CONFLICT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
      description: 이후 claim 차단. 이미 SENDING인 한 건의 결과는 계속 저장한다. SENT는 바꾸지 않는다.
  /sms/campaigns/{campaignId}/recipients/{id}:
    parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
    patch:
      tags:
        - sms
      operationId: updateSmsCampaignRecipient
      summary: 한 건 발송 확보 또는 결과 기록
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SmsRecipientUpdate"
      responses:
        "200":
          description: 한 건 발송 확보 또는 결과 기록
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SmsDispatchResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: ACCOUNT_DISABLED 또는 PASSWORD_CHANGE_REQUIRED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "NOT_FOUND: 내 데이터가 아니거나 없음"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: STATE_CONFLICT, PHONE_ALREADY_EXISTS 또는 IDEMPOTENCY_CONFLICT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
      description: SENDING 요청 최초 성공만 dispatchAllowed=true. 같은 attempt 재요청은false이며
        Native 재호출 금지. 캠페인별 동시 SENDING 최대1. SENT/FAILED 결과는 같은 attempt 최종 상태 반복만
        멱등. FAILED+OUTCOME_UNKNOWN인 현재 동일 attempt의 늦은 실제 SENT 정정만 예외 허용하며 재발송 권한은
        주지 않는다. 서버 저장 성공 후 다음 대상 발송.
  /sms/campaigns/{campaignId}/recipients/{id}/retry:
    parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - sms
      operationId: retrySmsCampaignRecipient
      summary: 명시적으로 선택한 실패 건 재시도 준비
      responses:
        "200":
          description: 명시적으로 선택한 실패 건 재시도 준비
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SmsDispatchResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: ACCOUNT_DISABLED 또는 PASSWORD_CHANGE_REQUIRED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "NOT_FOUND: 내 데이터가 아니거나 없음"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: STATE_CONFLICT, PHONE_ALREADY_EXISTS 또는 IDEMPOTENCY_CONFLICT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
      description: FAILED만 READY로 변경한다. OUTCOME_UNKNOWN/PARTIAL_SENT는409로 재시도 금지.
        SENT/SENDING 거부. 최대20회, 이전 attemptId 재사용 금지. 이후 start와 새 attempt claim 필요.
  /health:
    get:
      summary: 헬스체크
      security: []
      description: |
        Firestore 왕복만 확인한다. 존재하지 않는 문서(`_health/_probe`)를 3초 제한으로 읽고,
        `NotFound` 면 연결이 정상이라고 본다.

        컨테이너 안에는 같은 핸들러가 `/healthz` 로도 걸려 있지만 **외부에서는 이 경로를 써야 한다** —
        Google Frontend 가 정확히 `/healthz` 를 가로채 자체 404(HTML)를 돌려주기 때문에
        그 경로는 컨테이너까지 오지 않는다.
      operationId: getHealth
      responses:
        '200':
          description: 정상
          content:
            text/plain:
              schema: { type: string }
              example: ok
        '503':
          description: Firestore 연결 실패
          content:
            text/plain:
              schema: { type: string }
              example: firestore unavailable

  /auth/login:
    post:
      tags: [auth]
      security: []
      summary: 초대 계정 로그인
      operationId: userLogin
      description: |
        계정 없음과 비밀번호 불일치는 동일한 INVALID_CREDENTIALS 응답이다.

        로그인 한 번이 **세션(=기기) 하나**를 만든다. 발급되는 두 토큰에 그 세션 id 가 실리고,
        `GET /auth/sessions` 에 한 줄로 나타난다. 기기 이름은 `User-Agent` 로 추정한다.

        🔴 **세션을 만들지 못하면 로그인은 500 이다.** 세션 없이 나간 토큰은 첫 재발급에서
        401 이 되므로, 통과시키면 로그인 성공 화면을 보고 15분 뒤 아무 안내 없이 로그인
        화면으로 돌아간다. 앱은 500 을 「다시 시도해 주세요」로 보여 주면 된다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        '200':
          description: 로그인 성공. 첫 로그인에서는 비밀번호 변경이 필요하다.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/TokenSet'
                  - type: object
                    required: [mustChangePassword]
                    properties:
                      mustChangePassword: { type: boolean }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/InvalidCredentials' }
        '403': { $ref: '#/components/responses/AccountDisabled' }
        '500': { $ref: '#/components/responses/InternalError' }

  /auth/refresh:
    post:
      tags: [auth]
      security: []
      summary: 사용자 토큰 재발급
      operationId: refreshUserTokens
      description: |
        **두 가지를 대조한다.** 하나라도 어긋나면 401 이다.

        1. 토큰의 버전과 계정의 현재 토큰 버전 — 비밀번호 변경 이전에 발급한 토큰을 막는다
           (**계정 전체** 끊기).
        2. 토큰의 세션이 살아 있는지 — `DELETE /auth/sessions/{sessionId}` 로 끊은 기기를
           막는다 (**기기 하나** 끊기).

        🔴 **세션 id 가 없는 리프레시 토큰은 401 이다.** 세션 장치 이전에 발급된 토큰이며
        호환 경로를 두지 않는다. 앱은 이미 401 을 세션 만료로 처리하므로 로그인 화면으로
        보내면 된다. 이 기능을 배포한 직후에는 모든 사용자가 **한 번 다시 로그인**한다.

        재발급 자체가 이전 리프레시 토큰을 폐기하지는 않는다. 세션 id 는 그대로 이어진다 —
        재발급해도 세션 목록의 줄이 늘어나지 않는다.

        ⚠️ 재발급이 매번 세션 문서를 쓰지는 않는다. 마지막 접속(`lastSeenAt`)은 한국 날짜가
        바뀌거나 기기 표시가 달라졌을 때만 기록하므로 **날짜 단위로만 정확하다.**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        '200':
          description: 새 토큰 세트 (mustChangePassword 필드는 없음)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenSet' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/AccountDisabled' }
        '500': { $ref: '#/components/responses/InternalError' }

  /auth/change-password:
    post:
      tags: [auth]
      summary: 사용자 비밀번호 변경
      operationId: changeUserPassword
      description: |
        새 비밀번호는 8자 이상, UTF-8 기준 72바이트 이하여야 하며 현재 비밀번호와 달라야 한다.
        해시 교체, 토큰 버전 증가, mustChangePassword 해제를 함께 저장한다.
        기존 리프레시 토큰은 무효가 되므로 변경 후 다시 로그인한다.
        **모든 기기**가 함께 끊기고 옛 세션은 `GET /auth/sessions` 목록에서 사라진다.
        이미 발급한 액세스 토큰은 최대 15분(액세스 토큰 수명) 더 유효하다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword]
              properties:
                currentPassword: { type: string, format: password }
                newPassword: { type: string, format: password, minLength: 8 }
      responses:
        '204': { description: 변경 완료 (본문 없음) }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: UNAUTHORIZED (미인증) 또는 INVALID_CREDENTIALS (현재 비밀번호 불일치)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403': { $ref: '#/components/responses/AccountDisabled' }
        '500': { $ref: '#/components/responses/InternalError' }

  # ──────────────────────────────────────────────────────────────
  # 기기 세션 — 「이 기기만 끊기」
  #
  # 🔴 왜 있는가: 상담 통화 녹음과 고객 개인정보가 든 폰을 잃어버렸을 때, 예전에는
  # 비밀번호를 바꿔 **모든 기기를 한꺼번에** 로그아웃시키는 길밖에 없었다.
  # 여기가 기기 하나만 끊는 길이다. 비밀번호 변경(전체 끊기)은 그대로 남아 있다.
  # ──────────────────────────────────────────────────────────────
  /auth/sessions:
    get:
      tags: [auth]
      summary: 로그인된 기기 목록
      operationId: listUserSessions
      description: |
        이 계정으로 로그인되어 있는 기기 목록이다. 최근 접속 순이다.

        ⚠️ `deviceLabel` 은 `User-Agent` 로 **추정한 값이라 정확하지 않다.** 「Chrome · macOS」,
        「네이처 앱 1.4.0 · 안드로이드」 정도가 한계이고 기기 모델은 대개 알 수 없다.
        알 수 없으면 「알 수 없는 기기」다 — 🔴 앱에서 단정적인 문구로 감싸지 마라.
        추정이 빗나갔을 때 사람이 직접 보라고 `userAgent` 원문을 함께 싣는다.

        목록에서 빠지는 것:

        - 비밀번호 변경으로 이미 죽은 세션. 끊을 것이 남아 있지 않다.
        - 끊은 지 오래되어 `accessibleUntilAtMost` 가 지난 세션. 아무것도 할 수 없다.

        비밀번호 변경 필요(`mustChangePassword`) 상태나 비활성 계정에서도 호출할 수 있다.
        잃어버린 기기를 끊는 것만은 막지 않는다.
      responses:
        '200':
          description: 기기 목록
          content:
            application/json:
              schema:
                type: object
                required: [sessions]
                properties:
                  sessions:
                    type: array
                    items: { $ref: '#/components/schemas/UserSession' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /auth/sessions/{sessionId}:
    delete:
      tags: [auth]
      summary: 기기 하나 끊기
      operationId: revokeUserSession
      description: |
        그 기기의 토큰 재발급을 막는다. 멱등이다 — 이미 끊은 기기를 다시 끊어도 200 이고
        **처음 끊은 시각과 한계 시각을 그대로** 돌려준다(누를 때마다 뒤로 밀리지 않는다).

        🔴 **끊는 즉시 쓸 수 없게 되는 것이 아니다.** 서버는 액세스 토큰을 검증하지 않으므로
        그 기기가 이미 쥔 액세스 토큰은 만료될 때까지 통한다. 언제까지인지가
        `accessibleUntilAtMost` 다 — 앱은 이 값으로 「이 기기는 00:49까지 쓸 수 있어요」라고
        안내해야 한다. ⚠️ **상한이지 정확한 시각이 아니다**(그 기기가 마지막으로 재발급한
        것이 한참 전이면 실제로는 더 일찍 끊긴다).

        `current` 가 `true` 면 **지금 이 기기를 끊은 것**이다. 앱은 저장된 토큰을 버리고
        로그인 화면으로 가야 한다 — 안 그러면 남은 액세스 토큰으로 계속 돌아다닌다.

        🔴 남의 세션 id 는 403 이 아니라 **404** 다. 403 은 그 id 가 실제로 있다는 사실을
        알려 주는 것과 같다. 없는 id 와 형식이 틀린 id 도 모두 404 다.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, pattern: '^[A-Za-z0-9_-]{1,128}$' }
      responses:
        '200':
          description: 끊었다. 언제까지 쓸 수 있는지가 함께 온다.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RevokeSessionResult' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/SessionNotFound' }
        '500': { $ref: '#/components/responses/InternalError' }

  /users/me:
    get:
      tags: [users]
      summary: 로그인한 사용자 프로필
      operationId: getCurrentUser
      responses:
        '200':
          description: 비밀번호 변경 필요 여부의 정본
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserProfile' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/AccountDisabled' }
        '500': { $ref: '#/components/responses/InternalError' }

  # ──────────────────────────────────────────────────────────────
  # 어드민 — 스텁. 정본은 internal/admin 이다.
  # ──────────────────────────────────────────────────────────────
  /auth/admin.login:
    post:
      tags: [admin]
      security: []
      summary: 어드민 로그인
      description: 구현은 internal/admin 참고.
      operationId: adminLogin
      responses:
        '200':
          description: 어드민 토큰 세트
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /auth/admin.change-password:
    post:
      tags: [admin]
      summary: 어드민 비밀번호 변경
      description: 구현은 internal/admin 참고.
      operationId: adminChangePassword
      responses:
        '200':
          description: 변경 완료
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/admins:
    get:
      tags: [admin]
      summary: 어드민 계정 목록
      description: 구현은 internal/admin 참고.
      operationId: listAdmins
      responses:
        '200':
          description: 목록
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }
    post:
      tags: [admin]
      summary: 어드민 계정 생성
      description: 구현은 internal/admin 참고.
      operationId: createAdmin
      responses:
        '200':
          description: 생성된 계정
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/admins/{adminId}:
    parameters:
      - name: adminId
        in: path
        required: true
        description: 어드민 계정 문서 ID
        schema: { type: string, minLength: 1 }
    patch:
      tags: [admin]
      summary: 어드민 계정 수정
      description: 구현은 internal/admin 참고.
      operationId: updateAdmin
      responses:
        '200':
          description: 수정된 계정
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/audit-logs:
    get:
      tags: [admin]
      summary: 감사 로그 조회
      description: 구현은 internal/admin 참고.
      operationId: listAuditLogs
      responses:
        '200':
          description: 감사 로그 목록
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

tags:
  - name: recipients
    description: 사용자별 수신자 관리
  - name: sms
    description: Android SIM 발송 캠페인과 앱 보고 결과. 서버는 SMS를 발송하지 않는다.
  - name: auth
    description: >-
      초대 전용 사용자 인증. 공개 가입과 비밀번호 찾기 API는 제공하지 않는다.
      로그인된 기기 목록과 기기 단위 끊기(`/auth/sessions`)도 여기에 있다.
  - name: users
    description: 사용자 프로필
  - name: admin
    description: 어드민 인증과 계정·감사 로그. `ADMIN_JWT_SECRET` 이 없으면 라우트가 아예 걸리지 않는다

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        액세스 토큰(Bearer). 사용자 토큰과 어드민 토큰은 **서로 다른 시크릿으로 서명한다** —
        `ADMIN_JWT_SECRET` 이 `JWT_SECRET` 과 같으면 어드민 토큰이 사용자 미들웨어에서도
        파싱되므로 서버가 기동을 거부한다.

  responses:
    InvalidCredentials:
      description: 이메일 또는 비밀번호 불일치
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { code: INVALID_CREDENTIALS, message: 이메일 또는 비밀번호가 맞지 않아요 }
    AccountDisabled:
      description: 비활성 계정
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { code: ACCOUNT_DISABLED, message: 사용할 수 없는 계정이에요 }
    BadRequest:
      description: 요청 형식 또는 값 검증 실패
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { code: VALIDATION_FAILED, message: 요청 값이 올바르지 않아요 }
    Unauthorized:
      description: 토큰이 없거나 유효하지 않음
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { code: UNAUTHORIZED, message: 로그인이 필요해요 }
    SessionNotFound:
      description: 그런 기기가 없다. **남의 세션도 이 응답이다**(403 을 주면 그 id 가 있다는 뜻이 된다)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { code: SESSION_NOT_FOUND, message: 기기를 찾을 수 없어요 }
    InternalError:
      description: 서버 내부 오류
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { code: INTERNAL_ERROR, message: 서버 오류가 생겼어요 }

  schemas:
    CallContact:
      type: object
      required: [name, phone]
      properties:
        name: {type: string, minLength: 1, maxLength: 100, description: 최대 100자(rune 기준)}
        phone: {type: string, pattern: '^\+?[0-9]{7,15}$'}
        recipient_id: {type: string, nullable: true, pattern: '^[a-zA-Z0-9_-]{1,128}$'}
    CallMeta:
      type: object
      required: [file_name, duration, recorded_at]
      properties:
        file_name: {type: string, minLength: 1, maxLength: 1024}
        duration: {type: number, nullable: true, minimum: 0, maximum: 86400}
        recorded_at: {type: string, format: date-time, description: RFC3339. 서버 시각 +5분까지 허용하고 UTC 로 정규화한다}
    CallTranscript:
      type: object
      required: [text, segments]
      properties:
        text: {type: string, description: 최대 UTF-8 4 MiB}
        segments:
          type: array
          maxItems: 20000
          items:
            type: object
            required: [start, end, text]
            properties:
              start: {type: number, minimum: 0}
              end: {type: number, minimum: 0, maximum: 86400}
              text: {type: string, minLength: 1, maxLength: 64000}
              speaker: {type: string, maxLength: 100}
    CallAI:
      type: object
      required: [model, model_version, processed_on_device]
      properties:
        model: {type: string, minLength: 1, maxLength: 200}
        model_version: {type: string, minLength: 1, maxLength: 200}
        processed_on_device: {type: boolean, description: '기기 업로드 경로는 true(CallInput 에서는 필수). 서버 파이프라인이 만든 레코드는 false 다'}
        provider: {type: string, maxLength: 200, description: '**응답 전용.** 서버 파이프라인이 쓴 공급자 이름. 요청에 넣으면 400'}
    CallAnalysis:
      type: object
      description: 저장되는 JSON 합계 최대 400000 bytes. 배열은 비어도 생략하지 않는다.
      required: [schema_version, summary, details, todos, decisions, consulting]
      properties:
        schema_version: {type: integer, enum: [1]}
        summary: {type: string, minLength: 1, maxLength: 32000}
        details:
          type: array
          maxItems: 200
          items:
            type: object
            required: [title, content]
            properties:
              title: {type: string, minLength: 1, maxLength: 1000}
              content: {type: string, minLength: 1, maxLength: 32000}
        todos:
          type: array
          maxItems: 100
          items:
            type: object
            required: [content, owner, due_date, source]
            properties:
              content: {type: string, minLength: 1, maxLength: 8000}
              owner: {type: string, nullable: true, maxLength: 400}
              due_date: {type: string, format: date, nullable: true}
              source: {type: string, minLength: 1, maxLength: 8000}
        decisions: {type: array, maxItems: 200, items: {type: string, minLength: 1, maxLength: 16000}}
        consulting:
          type: object
          required: [customer_needs, questions, concerns, objections, important_points, followups]
          properties:
            customer_needs: {type: array, maxItems: 200, items: {type: string, minLength: 1, maxLength: 16000}}
            questions: {type: array, maxItems: 200, items: {type: string, minLength: 1, maxLength: 16000}}
            concerns: {type: array, maxItems: 200, items: {type: string, minLength: 1, maxLength: 16000}}
            objections: {type: array, maxItems: 200, items: {type: string, minLength: 1, maxLength: 16000}}
            important_points: {type: array, maxItems: 200, items: {type: string, minLength: 1, maxLength: 16000}}
            followups: {type: array, maxItems: 200, items: {type: string, minLength: 1, maxLength: 16000}}
    CallCost:
      type: object
      description: >-
        **응답 전용, 상세(GET /calls/{id})에만 붙는다.** 통화 한 건에 실제로 든 원가를 서버가 원화로
        계산한 값이다 — 앱은 단가를 모르고 그리기만 한다. 단가가 바뀌어도 앱 배포가 필요 없어야 하기 때문이다.


        🔴 **저장하지 않는다.** 단가는 배포 설정이라 개정되는데, 계산된 금액을 저장하면 그 레코드만
        옛 단가로 굳은 금액을 영원히 보여 주고 화면에는 그 사실이 나타나지 않는다.
        조회할 때마다 작업 문서의 누적 사용량으로 다시 계산한다.


        🔴 **필드가 아예 없는 경우가 셋이고 전부 정상이다:** ①서버에 단가 설정이 없다
        (`CALL_ASR_USD_PER_HOUR` 등 네 값이 **전부** 있어야 계산한다) ②사용량이 없는 옛 통화이거나
        공급자를 한 번도 부르지 못하고 실패한 통화다 ③기기 업로드 경로로 저장돼 작업 문서가 없다.
        **이때 0원으로 내보내지 않는다 — 0원과 「모름」은 다르다.** 앱은 값이 없으면 비용 칸을 그리지 않는다.


        🔴 **목록(GET /calls)에는 없다.** 금액의 근거인 사용량은 작업 문서에만 있어서, 목록에 실으려면
        한 페이지(최대 100건)마다 작업 문서를 그만큼 더 읽어야 한다 — 비용을 보여 주려고 조회 비용을
        100배로 키우는 셈이다(`audio_url` 과 같은 판단).
      required: [currency, transcription, analysis, total, usage]
      properties:
        currency: {type: string, enum: [KRW]}
        transcription:
          type: number
          minimum: 0
          description: >-
            받아쓰기(ASR) 비용(원). 🔴 **정수 원으로 반올림되어 있지 않다** — 짧은 통화는 1원이 안 될 수
            있고, 서버가 0 으로 뭉개면 앱은 「0원」밖에 그릴 수 없어 공짜로 읽힌다. 0.0001원 단위까지 내려간다.
            ⚠️ **기기에서 받아쓴 통화(asr=client)는 정확히 0 이다** — 서버가 공급자를 한 번도 부르지
            않았으므로 실제로 0원이다(analysis 는 그대로 든다). 이때만 「0원」이 「모름」이 아니다.
        analysis:
          type: number
          minimum: 0
          description: >-
            분석(LLM) 비용(원). 🔴 받아쓰기와 **나눠서** 내보낸다 — 이 파이프라인은 비용의 대부분이
            받아쓰기라, 합계만 주면 그 사실이 가려져 어느 단계를 바꿔야 하는지 알 수 없다.
        total: {type: number, minimum: 0, description: transcription + analysis}
        usage:
          type: object
          description: >-
            금액의 **근거가 된 사용량.** 🔴 금액만 있으면 「이 숫자가 왜 이렇지」를 검산할 수 없다 —
            단가는 배포 설정에, 사용량은 작업 문서에 있어서 응답에 둘 중 하나라도 빠지면 손으로 맞춰볼 수 없다.
          required: [audio_seconds, input_tokens, output_tokens, reasoning_tokens]
          properties:
            audio_seconds:
              type: number
              minimum: 0
              description: ASR 이 청구한 오디오 길이. ⚠️ 통화 길이와 다를 수 있다 — 재시도한 전사의 초까지 누적된 값이다
            input_tokens: {type: integer, minimum: 0}
            output_tokens:
              type: integer
              minimum: 0
              description: ⚠️ 추론(thinking) 토큰이 **이미 포함**된 값이다(`usage.completion_tokens` 그대로)
            reasoning_tokens:
              type: integer
              minimum: 0
              description: >-
                output_tokens 안에 포함된 추론 토큰. 금액 계산에 따로 더하지 않는다(더하면 두 번 청구된 것처럼 보인다).
                0 이 아니면 thinking 이 켜져 있다는 뜻이라 요금이 왜 높은지의 단서가 된다.
    CallInput:
      type: object
      description: >-
        PUT /calls/{id} 요청 본문. 명세에 없는 필드는 거부한다(서버가 unknown field 를 400 으로 막는다).
        status/progress/error/summary 는 받아도 서버가 덮어쓴다 — status 는 COMPLETED, 나머지는 비운다.


        🔴 **이 스키마는 동결이다.** 서버 파이프라인이 응답에 붙이는 필드
        (job_state, stage, has_audio, audio_url, cost, ai.provider)를 **요청에 넣으면 400 이다** —
        구버전 앱 계약을 넓히지 않기 위해 서버가 명시적으로 거부한다. 응답에서 읽기만 하라.
      required: [call_id, contact, call, created_at, transcript, analysis, ai]
      additionalProperties: false
      properties:
        call_id: {type: string, pattern: '^[a-zA-Z0-9_-]{1,128}$', description: 경로의 id 와 같아야 한다}
        contact: {$ref: '#/components/schemas/CallContact'}
        call: {$ref: '#/components/schemas/CallMeta'}
        created_at: {type: string, format: date-time}
        status: {type: string, description: 서버가 COMPLETED 로 덮어쓴다}
        progress: {type: number, nullable: true, description: 서버가 비운다}
        summary: {type: string, description: 서버가 비운다}
        error: {type: string, nullable: true, description: 서버가 비운다}
        transcript: {$ref: '#/components/schemas/CallTranscript'}
        analysis: {$ref: '#/components/schemas/CallAnalysis'}
        ai: {$ref: '#/components/schemas/CallAI'}
    CallStatus:
      type: string
      description: >-
        🔴 **닫힌 집합이다.** 앱이 이 값으로 진행 단계를 계산하므로 서버는 여기 없는 값을 내보내지 않는다.
        서버 파이프라인의 내부 상태는 job_state 로 따로 나가며, status 는 아래처럼 사상된다:
        AWAITING_UPLOAD→PENDING, QUEUED→PREPARING, ASR_RUNNING/ASR_POLLING→TRANSCRIBING,
        TRANSCRIBED/ANALYZING→ANALYZING, COMPLETED→COMPLETED, TRANSCRIPTION_FAILED→TRANSCRIPTION_FAILED,
        ANALYSIS_FAILED→ANALYSIS_FAILED.
        기기 업로드 경로(PUT)로 저장된 레코드는 항상 COMPLETED 다.
        UPLOADING/UPLOAD_FAILED/UPLOAD_REJECTED/PENDING/FAILED 는 기기 경로 전용 값이다.
      enum: [PENDING, PREPARING, TRANSCRIBING, ANALYZING, UPLOADING, COMPLETED, FAILED, TRANSCRIPTION_FAILED, ANALYSIS_FAILED, UPLOAD_FAILED, UPLOAD_REJECTED]
    CallJobState:
      type: string
      description: >-
        **응답 전용.** 서버 파이프라인 내부 상태 원문. 기기 경로(PUT /calls/{id}) 레코드에는 붙지 않는다.
        ⚠️ ASR_RUNNING 은 두 가지 뜻이다: 서버가 공급자에게 전사를 맡긴 경우와,
        `asr:"client"` 로 **폰이 직접 받아쓰는 중**인 경우다. 둘은 stage 문구로 구분된다.
      enum: [AWAITING_UPLOAD, QUEUED, ASR_RUNNING, ASR_POLLING, TRANSCRIBED, ANALYZING, COMPLETED, TRANSCRIPTION_FAILED, ANALYSIS_FAILED]
    CallSummary:
      type: object
      description: >-
        목록 항목과 PUT/audio/reanalyze 응답. transcript/analysis 를 담지 않는다.
        🔴 audio_url 은 여기 **없다** — 30건마다 서명 URL 30개를 만드는 것은 불필요한 비용이고
        목록 화면은 재생 버튼을 쓰지 않는다. 목록에서는 has_audio 만 본다.
      required: [call_id, contact, call, created_at, status, progress]
      properties:
        call_id: {type: string}
        contact: {$ref: '#/components/schemas/CallContact'}
        call: {$ref: '#/components/schemas/CallMeta'}
        created_at: {type: string, format: date-time}
        status: {$ref: '#/components/schemas/CallStatus'}
        progress: {type: number, nullable: true, minimum: 0, maximum: 1}
        summary: {type: string, description: analysis.summary 를 공백 정규화한 160자 한 줄 요약}
        error: {type: string, nullable: true, description: 실패 코드(공급자 코드 또는 분류 이름)}
        job_state: {$ref: '#/components/schemas/CallJobState'}
        stage: {type: string, maxLength: 60, description: '**응답 전용.** 사용자에게 그대로 보여 줄 한국어 단계명(예: 받아쓰는 중). 기기가 받아쓰는 통화(asr=client)에서는 「기기에서 받아쓰는 중」이다'}
        has_audio: {type: boolean, description: '**응답 전용.** GCS 에 원본 오디오가 있는지. false 는 실패가 아니다(기기 경로 통화이거나 보관 기간이 지난 통화)'}
        ai: {$ref: '#/components/schemas/CallAI'}
    CallDetail:
      type: object
      description: GET /calls/{id} 응답. 원문과 구조화 할 일까지 모두 담는다.
      required: [call_id, contact, call, created_at, status, progress]
      properties:
        call_id: {type: string}
        contact: {$ref: '#/components/schemas/CallContact'}
        call: {$ref: '#/components/schemas/CallMeta'}
        created_at: {type: string, format: date-time}
        status: {$ref: '#/components/schemas/CallStatus'}
        progress: {type: number, nullable: true, minimum: 0, maximum: 1}
        error: {type: string, nullable: true}
        job_state: {$ref: '#/components/schemas/CallJobState'}
        stage: {type: string, maxLength: 60, description: '**응답 전용.** 한국어 단계명'}
        has_audio: {type: boolean, description: '**응답 전용.** GCS 에 원본 오디오가 있는지'}
        audio_url:
          type: string
          nullable: true
          description: >-
            **응답 전용, 상세에만 붙는다.** 녹음 재생용 V4 서명 GET URL 이며 **15분 뒤 만료된다.**
            🔴 저장되지 않고 조회할 때마다 새로 발급된다 — 만료되는 값을 저장하면 굳은 URL 이 남는다.
            값이 없는 경우는 둘 다 정상이다: ①기기 업로드 경로로 저장된 통화 ②보관 기간(366일)이 지나 원본이 삭제된 통화.
            🔴 **보관 만료는 분석 실패가 아니다** — status 는 COMPLETED 그대로이고 audio_url 만 없다.
        transcript:
          allOf: [{$ref: '#/components/schemas/CallTranscript'}]
          nullable: true
          description: 아직 전사가 끝나지 않은 통화에서는 없다(오류가 아니다)
        analysis:
          allOf: [{$ref: '#/components/schemas/CallAnalysis'}]
          nullable: true
          description: 아직 분석이 끝나지 않은 통화에서는 없다(오류가 아니다)
        cost: {$ref: '#/components/schemas/CallCost'}
        ai: {$ref: '#/components/schemas/CallAI'}
    CallAudioUploadRequest:
      type: object
      required: [content_type, size, contact, call]
      properties:
        content_type:
          type: string
          description: 🔴 이 값을 PUT 의 Content-Type 헤더로 **글자 그대로** 다시 보내야 서명이 맞는다
          enum: [audio/m4a, audio/mp4, audio/aac, audio/mpeg, audio/wav, audio/x-wav, audio/ogg, audio/webm, audio/amr, audio/3gpp]
        size: {type: integer, minimum: 1, maximum: 104857600, description: 예상 바이트 수(최대 100 MiB)}
        contact: {$ref: '#/components/schemas/CallContact'}
        call: {$ref: '#/components/schemas/CallMeta'}
    CallAudioCompleteRequest:
      type: object
      description: >-
        `POST /calls/{id}/audio/complete` 의 **선택** 본문이다.
        🔴 본문을 아예 보내지 않는 요청이 정상이며(구버전 앱·웹), 그때는 asr="server" 와 같다.
      properties:
        asr:
          type: string
          enum: [server, client]
          default: server
          description: >-
            받아쓰기를 누가 하는가. `server` 는 지금까지의 동작(서버가 공급자로 전사한 뒤 분석한다).
            `client` 는 폰이 받아쓰고 서버는 `POST /calls/{id}/transcript` 를 기다린다
            (job_state=ASR_RUNNING, stage=「기기에서 받아쓰는 중」).
            🔴 `client` 인 통화가 **6시간** 안에 전사문을 올리지 않으면 tick 이
            TRANSCRIPTION_FAILED + `CLIENT_TRANSCRIPT_TIMEOUT` 으로 정리한다 —
            안 그러면 폰이 돌아오지 않은 통화가 영원히 「받아쓰는 중」으로 남는다.
    CallAudioUploadURL:
      type: object
      required: [call_id, method, url, headers, object, expires_at, max_bytes]
      properties:
        call_id: {type: string}
        method: {type: string, enum: [PUT]}
        url: {type: string, format: uri, description: GCS V4 서명 URL}
        headers:
          type: object
          description: 🔴 **PUT 요청에 이 헤더를 그대로 실어야 한다.** 다르면 GCS 가 403 SignatureDoesNotMatch 를 돌려준다
          additionalProperties: {type: string}
        object: {type: string, description: '결정적 객체 경로(calls/{uid}/{callId}/audio{ext}). 재시도는 같은 경로를 덮어쓴다'}
        expires_at: {type: string, format: date-time, description: 서명 만료(발급 시각 +60분)}
        max_bytes: {type: integer, description: 업로드 상한}
        retention_days: {type: integer, description: '원본 오디오 보관 일수. 삭제는 GCS 수명주기 정책이 한다'}
    CallTickResult:
      type: object
      required: [claimed, advanced, failed, remaining_budget_ms]
      properties:
        claimed: {type: integer, description: 이번 tick 이 lease 를 건 작업 수}
        advanced: {type: integer, description: 한 단계 이상 전진한 작업 수}
        failed: {type: integer, description: 이번 tick 에서 확정 실패한 작업 수}
        remaining_budget_ms: {type: integer, description: 남은 예산(ms)}
    ExternalSendResult:
      type: object
      required: [recipient, history]
      properties:
        recipient: {$ref: '#/components/schemas/Recipient'}
        history: {$ref: '#/components/schemas/RecipientHistory'}
    MessageAttachment:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        mimeType:
          type: string
          enum:
          - image/jpeg
          - image/png
        size:
          type: integer
          maximum: 307200
        createdAt:
          type: string
          format: date-time
    MessageUpload:
      type: object
      properties:
        name:
          type: string
        mimeType:
          type: string
        dataBase64:
          type: string
          format: byte
    MessageTemplateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        message:
          type: string
          maxLength: 2000
        attachmentIds:
          type: array
          maxItems: 3
          items:
            type: string
    MessageTemplate:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        message:
          type: string
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/MessageAttachment'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    RecipientImportRow:
      type: object
      properties:
        customFields:
          type: array
          maxItems: 20
          description: 헤더 원본 순서 유지, 전체 UTF-8 JSON 2000bytes 이하
          items:
            type: object
            required: [name, value]
            properties:
              name:
                type: string
                minLength: 1
                maxLength: 100
              value:
                type: string
                maxLength: 1000
        row:
          type: integer
        name:
          type: string
        phone:
          type: string
        groupId:
          type: string
        status:
          type: string
          enum:
          - ADD
          - EXCLUDED
        reason:
          type: string
    RecipientImport:
      type: object
      properties:
        id:
          type: string
        addedCount:
          type: integer
        excludedCount:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/RecipientImportRow'
        createdAt:
          type: string
          format: date-time
        confirmed:
          type: boolean
    RecipientHistory:
      type: object
      required:
      - id
      - recipientId
      - name
      - phone
      - message
      - status
      - source
      - attachments
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
        recipientId:
          type: string
        campaignId:
          type: string
        campaignTitle:
          type: string
        name:
          type: string
        phone:
          type: string
        message:
          type: string
        errorCode:
          type: string
        errorMessage:
          type: string
        source:
          type: string
          enum:
          - ANDROID
          - EXTERNAL
        status:
          type: string
          enum:
          - SENDING
          - SENT
          - FAILED
        transport:
          type: string
          enum:
          - SMS
          - LMS
          - MMS
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        sentAt:
          type: string
          format: date-time
          nullable: true
        failedAt:
          type: string
          format: date-time
          nullable: true
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/MessageAttachment'
    Recipient:
      type: object
      required:
        - id
        - name
        - phone
        - groupId
        - createdAt
        - updatedAt
      properties:
        sentCount:
          type: integer
          minimum: 0
          description: 성공 SENT 시도 수 (멱등 결과 중복 제외)
        customFields:
          type: array
          maxItems: 20
          description: 헤더 원본 순서 유지, 전체 UTF-8 JSON 2000bytes 이하
          items:
            type: object
            required: [name, value]
            properties:
              name:
                type: string
                minLength: 1
                maxLength: 100
              value:
                type: string
                maxLength: 1000
        latestSentAt:
          type: string
          format: date-time
          nullable: true
        id:
          type: string
        name:
          type: string
          maxLength: 100
        phone:
          type: string
          example: "01012345678"
        groupId:
          type: string
          maxLength: 100
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    RecipientPage:
      type: object
      required:
        - items
        - nextCursor
      properties:
        total:
          type: integer
          description: 현재 필터 조건 전체 수신자 수
        items:
          type: array
          items:
            $ref: "#/components/schemas/Recipient"
        nextCursor:
          type: string
          nullable: true
    CreateSmsCampaign:
      type: object
      required:
        - requestId
        - title
        - message
        - recipientIds
      properties:
        attachmentIds:
          type: array
          maxItems: 3
          uniqueItems: true
          items:
            type: string
        requestId:
          type: string
          minLength: 8
          maxLength: 128
          pattern: ^[A-Za-z0-9_-]+$
        title:
          type: string
          minLength: 1
          maxLength: 100
        message:
          type: string
          minLength: 0
          maxLength: 2000
          description: 첨부가 없으면 공백뿐인 본문 거부. 앞뒤 공백과 개행은 보존.
        recipientIds:
          type: array
          minItems: 1
          maxItems: 50
          uniqueItems: true
          items:
            type: string
        reserved:
          type: boolean
          default: false
          description: 사용자가 「예약」으로 만든 문자면 true. 생략하면 false이며 이후 변경 API는 없다.
    SmsCampaign:
      type: object
      required:
        - id
        - title
        - message
        - status
        - recipientCount
        - readyCount
        - sendingCount
        - sentCount
        - failedCount
        - reserved
        - createdAt
        - updatedAt
        - startedAt
        - completedAt
      properties:
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/MessageAttachment'
        id:
          type: string
        title:
          type: string
          maxLength: 100
        message:
          type: string
          maxLength: 2000
        status:
          type: string
          enum:
            - READY
            - SENDING
            - COMPLETED
            - PARTIAL_FAILED
            - CANCELLED
        recipientCount:
          type: integer
          minimum: 0
        readyCount:
          type: integer
          minimum: 0
        sendingCount:
          type: integer
          minimum: 0
        sentCount:
          type: integer
          minimum: 0
        failedCount:
          type: integer
          minimum: 0
        reserved:
          type: boolean
          description: 예약으로 만든 문자 표시. 필드가 없는 과거 문서는 false로 읽힌다.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        startedAt:
          type: string
          format: date-time
          nullable: true
        completedAt:
          type: string
          format: date-time
          nullable: true
    SmsCampaignPage:
      type: object
      required:
        - items
        - nextCursor
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/SmsCampaign"
        nextCursor:
          type: string
          nullable: true
    SmsCampaignRecipient:
      type: object
      required:
        - id
        - campaignId
        - recipientId
        - name
        - phone
        - message
        - status
        - attemptId
        - attemptCount
        - sentAt
        - failedAt
        - errorCode
        - errorMessage
        - createdAt
        - updatedAt
      properties:
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/MessageAttachment'
        transport:
          type: string
          enum:
          - SMS
          - LMS
          - MMS
        id:
          type: string
        campaignId:
          type: string
        recipientId:
          type: string
        name:
          type: string
          maxLength: 100
        phone:
          type: string
        message:
          type: string
          maxLength: 2000
        status:
          type: string
          enum:
            - READY
            - SENDING
            - SENT
            - FAILED
        attemptId:
          type: string
        attemptCount:
          type: integer
          minimum: 0
        sentAt:
          type: string
          format: date-time
          nullable: true
        failedAt:
          type: string
          format: date-time
          nullable: true
        errorCode:
          type: string
          maxLength: 100
        errorMessage:
          type: string
          maxLength: 300
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    SmsRecipientUpdate:
      type: object
      required:
        - status
        - attemptId
      properties:
        transport:
          type: string
          enum:
          - SMS
          - LMS
          - MMS
        status:
          type: string
          enum:
            - SENDING
            - SENT
            - FAILED
        attemptId:
          type: string
          minLength: 8
          maxLength: 128
          pattern: ^[A-Za-z0-9_-]+$
        errorCode:
          type: string
          maxLength: 100
          description: FAILED 필수. OUTCOME_UNKNOWN/PARTIAL_SENT는 확인필요 및 재시도 금지.
        errorMessage:
          type: string
          maxLength: 300
    SmsDispatchResult:
      type: object
      required:
        - campaign
        - recipient
        - dispatchAllowed
      properties:
        campaign:
          $ref: "#/components/schemas/SmsCampaign"
        recipient:
          $ref: "#/components/schemas/SmsCampaignRecipient"
        dispatchAllowed:
          type: boolean
          description: 최초 READY→SENDING 트랜잭션 승자만 true. false면 SMS를 호출하지 않는다.
    TokenSet:
      type: object
      required: [accessToken, refreshToken, expiresInSec]
      properties:
        accessToken: { type: string, description: '15분 유효한 액세스 토큰. 세션 id 를 클레임으로 싣지만 **서버는 세션을 검증하지 않는다**' }
        refreshToken: { type: string, description: '90일 유효한 리프레시 토큰. 재발급 시 세션이 살아 있는지 대조한다' }
        expiresInSec: { type: integer, example: 900, description: '액세스 토큰 수명(초). 🔴 이 값이 곧 「기기 끊기」가 실제로 듣기까지의 최대 시간이다' }
    SessionAccess:
      type: object
      required: [at, deviceLabel]
      properties:
        at: { $ref: '#/components/schemas/Timestamp' }
        deviceLabel: { type: string, description: 그때의 기기 표시. ⚠️ 추정값이다 }
    UserSession:
      type: object
      required: [sessionId, deviceLabel, userAgent, createdAt, lastSeenAt, current, revokedAt, accessibleUntilAtMost, recentAccesses]
      properties:
        sessionId: { type: string }
        deviceLabel:
          type: string
          description: >-
            ⚠️ **User-Agent 로 추정한 값이라 정확하지 않다.** 「Chrome · macOS」,
            「네이처 앱 1.4.0 · 안드로이드」 정도가 한계이고 모델명은 대개 알 수 없다.
            알 수 없으면 「알 수 없는 기기」다. 단정적인 문구로 감싸지 마라.
        userAgent:
          type: string
          description: 추정의 근거가 된 원문(최대 512바이트로 잘릴 수 있다). 추정이 빗나갔을 때 사람이 직접 읽으라고 둔다
        createdAt: { $ref: '#/components/schemas/Timestamp' }
        lastSeenAt:
          allOf: [{ $ref: '#/components/schemas/Timestamp' }]
          description: >-
            ⚠️ **날짜 단위로만 정확하다.** 재발급마다 쓰지 않고 한국 날짜가 바뀌거나 기기
            표시가 달라졌을 때만 기록하므로, 같은 날 안에서는 그날 처음 기록한 시각에 머문다.
            🔴 이 값으로 「언제까지 쓸 수 있는가」를 계산하지 마라 — accessibleUntilAtMost 가 있다.
        current:
          type: boolean
          description: 지금 이 요청을 보낸 기기인가. 액세스 토큰에 실린 세션 id 로 가린다
        revokedAt:
          allOf: [{ $ref: '#/components/schemas/Timestamp' }]
          nullable: true
          description: 끊은 시각. 살아 있으면 null
        accessibleUntilAtMost:
          allOf: [{ $ref: '#/components/schemas/Timestamp' }]
          nullable: true
          description: >-
            끊긴 기기가 **늦어도 언제까지** 앱을 쓸 수 있는지. 살아 있는 세션이면 null 이다
            (끊기 전에는 한계가 없다). ⚠️ 이름 그대로 **상한**이지 정확한 시각이 아니다 —
            `revokedAt + 액세스 토큰 수명(15분)` 이며, 그 기기가 마지막으로 재발급한 것이
            한참 전이면 실제로는 더 일찍 끊긴다.
        recentAccesses:
          type: array
          maxItems: 10
          description: 최근 접속 기록. 최신이 앞이다. 하루 한두 번만 기록하므로 사실상 「최근 열흘 중 쓴 날」이다
          items: { $ref: '#/components/schemas/SessionAccess' }
    RevokeSessionResult:
      type: object
      required: [sessionId, revokedAt, accessibleUntilAtMost, current]
      properties:
        sessionId: { type: string }
        revokedAt: { $ref: '#/components/schemas/Timestamp' }
        accessibleUntilAtMost:
          allOf: [{ $ref: '#/components/schemas/Timestamp' }]
          description: >-
            🔴 앱은 이 값으로 「이 기기는 00:49까지 쓸 수 있어요」라고 안내해야 한다.
            ⚠️ 상한이지 정확한 시각이 아니다(UserSession 의 같은 필드 설명 참고).
        current:
          type: boolean
          description: 지금 이 기기를 끊었는가. true 면 앱은 저장된 토큰을 버리고 로그인 화면으로 가야 한다
    UserProfile:
      type: object
      required: [userId, email, userName, mustChangePassword, createdAt]
      properties:
        userId: { type: string }
        email: { type: string, format: email }
        userName: { type: string }
        mustChangePassword: { type: boolean }
        createdAt: { $ref: '#/components/schemas/Timestamp' }
    # ---------- 공통 ----------
    # 이 스키마는 Go 의 httpx.Error 와 **1:1 대응한다**(internal/httpx/httpx.go).
    # 필드 이름이나 형태가 한쪽만 바뀌면 SPA 가 에러 본문을 못 읽어 모든 실패가
    # 「알 수 없는 오류」로 뭉개진다 — 고칠 때는 두 곳을 같이 고쳐라.
    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: |
            기계 판독용 에러 코드. 클라이언트는 이 값으로 분기하고 `message` 는 그대로 표시한다.
            공통 코드는 `VALIDATION_FAILED` · `UNAUTHORIZED` · `INTERNAL_ERROR` 이며,
            사용자 인증은 `INVALID_CREDENTIALS` · `ACCOUNT_DISABLED`를 더한다.
            `TOO_MANY_ATTEMPTS`는 향후 시도 제한용 429 예약 코드다. 현재 제한은 구현하지 않았으며,
            구현 시 `details`에 남은 초를 담는다.
          example: VALIDATION_FAILED
        message:
          type: string
          description: 사용자에게 그대로 보여줄 수 있는 한국어 문구
          example: 요청 값이 올바르지 않아요
        details:
          type: object
          nullable: true
          additionalProperties: true
          description: 필드별 위반 내역 등 부가 정보

    Timestamp:
      type: string
      format: date-time
      description: RFC 3339. 서버가 `ServerTimestamp` 로 기록한 값
